$font-main: "Archivo";
$font-second: "Archivo";
$back-color: #000;
$primary-color: #3c23cd;
$card-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.5);

$back-blue: #1ea0e6;
$back-green: #0fdc82;
$back-green: #0fdc82;
$back-lightgreen: #a5fac8;
$back-yellow: #e6c30f;
$back-black: #1e1e1e;

* {
    font-family: $font-main;
    color: #fff;
}
